<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="管理员" />
            <allow roles="超级管理员" />
            <deny roles="会员" />
            <deny roles="用户" />
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>